* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #F5F5F5;
}
.header {
    background: #FA8C16;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
.title {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
}
.disclaimer {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: rgb(100, 100, 100);
}
.content {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.cur-data {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}
.calculation {
    padding: 10px 0;
}
.currency, .amount, .buy, .sell {
    height: 30px;
    width: 120px;
}
.footer {
    background: #FA8C16;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    max-width: 1200px;
    width: 90%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.link {
    text-decoration: none;
    color: #fff;
}